<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>超大井字棋</title>
</head>
<body>
    <center>
        <h1>Tic-Tac-Toe Plus</h1>
        <div class="" style="border: solid 1px black; border-radius: 5px; padding: 20px; margin: 20px; width: 500px">
            <p>
                Error Passcode!
            </p>
            <a href="/start">Start A New Game</a>
        </div>
    </center>
</body>
</html>